<article class="card">
    <header class="card-header">
        <span txt-small gray>October 15, 2024</span>
    </header>
    <div class="mgy-200">
        <h3 class="heading-small gray">Lorem ipsum dolor sit amet.</h>
        <p class="txt gray mg-top-200">Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati ipsam placeat praesentium voluptates, velit debitis nostrum facere officiis nihil quia?</p>
    </div>
    <a class="link" href="#">Read more<i class="fa-solid fa-arrow-right"></i></a>
  </article>