<article class="email-card">
  <div class="icon-heading">
    <i class="fa-solid fa-envelope txt-big"></i>
    <h4 class="txt-big">Contact</h4>
  </div>
  <p class="txt gray mgy-200">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores perferendis
    distinctio exercitationem iure autem commodi optio! Blanditiis magnam
    officia consequatur molestias autem sed assumenda, itaque, doloremque alias
    dicta voluptas quae?
  </p>
  <form class="email-form">
    <input type="text" placeholder="email" />
    <button type="submit" class="btn">Send</button>
  </form>
</article>
