<article class="jorb-card">
    <div class="icon-heading">
        <i class="fa-solid fa-briefcase txt-big"></i>
        <h4 class="txt-big">Job experience</h4>
    </div>
  <ul class="job-list mgy-200">
    <li class="job">
      <div class="logo-company">
        <img src="./images/facebook.webp" alt="logo" />
      </div>
      <div class="name-position">
        <p class="txt">Facebook</p>
        <p class="txt-small gray">IT Sopport</p>
      </div>
      <span class="year txt-small">2024- 2025</span>
    </li>
    <li class="job">
      <div class="logo-company">
        <img src="./images/aws.webp" alt="logo" />
      </div>
      <div class="name-position">
        <p class="txt">Facebook</p>
        <p class="txt-small gray">IT Sopport</p>
      </div>
      <span class="year txt-small">2024- 2025</span>
    </li>
    <li class="job">
      <div class="logo-company">
        <img src="./images/google.webp" alt="logo" />
      </div>
      <div class="name-position">
        <p class="txt">Facebook</p>
        <p class="txt-small gray">IT Sopport</p>
      </div>
      <span class="year txt-small">2024- 2025</span>
    </li>
    <li class="job">
      <div class="logo-company">
        <img src="./images/netflex.webp" alt="logo" />
      </div>
      <div class="name-position">
        <p class="txt">Facebook</p>
        <p class="txt-small gray">IT Sopport</p>
      </div>
      <span class="year txt-small">2024- 2025</span>
    </li>
  </ul>
  <a class="btn btn-block" href="#">Download<i class="fa-solid fa-arrow-down-long"></i></a>
</article>